.game-review {
    padding: 20px;
    display: flex;
    justify-content: center;
    transform-origin: top center;
}

.page-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.chart-title {
    font-size: 18px;
    font-weight: 500;
}

.left-btn-img {
    transition: 0.2s;
    cursor: pointer;
}

.left-btn-img:hover {
    transform: translateX(-5px);
}

.right-btn-img {
    transition: 0.2s;
    cursor: pointer;
    transform: scaleX(-1);
}

.right-btn-img:hover {
    transform: scaleX(-1) translateX(-5px);
}